backend "file" {
 path = "/var/lib/vault"
}

listener "tcp" {
 address = "127.0.0.1:8200"
 tls_disable = 1
}

listener "tcp" {
 address = "0.0.0.0:8201"
 tls_cert_file = "/etc/pki/vault/root_cert.pem"
 tls_key_file = "/etc/pki/vault/root_key.pem"
}

disable_mlock=true
